<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>

    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.4/dist/aos.css" />
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="scss/main.css" />
  </head>

  <body>
    <div class="page-dashboard">
      <div class="d-flex" id="wrapper" data-aos="fade-right">
        <!-- START: Sidebar -->
        <div class="border-right" id="sidebar-wrapper">
          <!-- LOGO -->
          <div class="sidebar-heading text-center">
            <img src="assets/logo-dashboard.svg" alt="" class="my-4" />
          </div>
          <!-- Menu List -->
          <div class="list-group list-group-flush">
            <a
              href="dashboard.html"
              class="list-group-item list-group-item-action active"
            >
              Dashboard
            </a>
            <a
              href="dashboard-products.html"
              class="list-group-item list-group-item-action"
            >
              My Products
            </a>
            <a
              href="dashboard-transactions.html"
              class="list-group-item list-group-item-action"
            >
              Transactions
            </a>
            <a
              href="dashboard-settings.html"
              class="list-group-item list-group-item-action"
            >
              Store Settings
            </a>
            <a
              href="dashboard-account.html"
              class="list-group-item list-group-item-action"
            >
              My Account
            </a>
            <a href="index.html" class="list-group-item list-group-item-action">
              Sign Out
            </a>
          </div>
        </div>
        <!-- END: Sidebar -->

        <!-- START: Page Content -->
        <div class="" id="page-content-wrapper">
          <!-- START: Navbar -->
          <nav
            class="navbar navbar-expand-lg navbar-light fixed-top navbar-store pt-3"
            data-aos="fade-down"
          >
            <div class="container-fluid">
              <button
                class="btn btn-secondary d-md-none mr-auto mr-2"
                id="menu-toggle"
              >
                &laquo; Menu
              </button>

              <button
                class="navbar-toggler ms-auto"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive"
              >
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarResponsive">
                <!-- START: Desktop Menu -->
                <ul class="navbar-nav d-none d-lg-flex ms-auto">
                  <li class="nav-item dropdown">
                    <a
                      href="#"
                      class="nav-link"
                      id="navbarDropdown"
                      role="button"
                      data-bs-toggle="dropdown"
                    >
                      <img
                        src="assets/user_pc.png"
                        alt=""
                        class="rounded-circle me-2 profile-picture"
                        style="width: 45px; height: 45px"
                      />
                      Hi, User!
                    </a>
                    <div class="dropdown-menu">
                      <a href="dashboard.html" class="dropdown-item"
                        >Dashboard</a
                      >
                      <a href="dashboard-account.html" class="dropdown-item"
                        >Settings</a
                      >
                      <div class="dropdown-divider"></div>
                      <a href="/" class="dropdown-item">Logout</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link d-inline-block mt-2">
                      <img src="assets/icons/icon-cart-fill.svg" alt="cart" />
                      <div class="card-badge me-4">23</div>
                    </a>
                  </li>
                </ul>
                <!-- END: Desktop Menu -->

                <!-- START: Mobile Menu -->
                <ul class="navbar-nav d-block d-lg-none">
                  <li class="nav-item">
                    <a href="" class="nav-link"> Hi, User Mobile </a>
                  </li>
                  <li class="nav-item">
                    <a href="" class="nav-link d-inline-block"> Cart </a>
                  </li>
                </ul>
                <!-- END: Mobile Menu -->
              </div>
            </div>
          </nav>
          <!-- END: Navbar -->

          <!-- START: Content -->
          <div
            class="section-content section-dashboard-home"
            data-aos="fade-up"
          >
            <div class="container-fluid">
              <div class="dashboard-heading">
                <h2 class="dashboard-title">#Transaction091</h2>
                <p class="dashboard-subtitle">Transactions Details</p>
              </div>
              <div class="dashboard-content" id="transactionDetails">
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-body">
                        <!-- ROW 1 -->
                        <div class="row mb-3">
                          <div class="col-md-4 col-12">
                            <img
                              src="assets/images/transactionImage.png"
                              class="w-100"
                              alt=""
                            />
                          </div>
                          <div class="col-12 col-md-8">
                            <div class="row">
                              <div class="col-12 col-md-6">
                                <div class="product-title">Customer Name</div>
                                <div class="product-subtitle">Billpebert</div>
                              </div>
                              <div class="col-12 col-md-6">
                                <div class="product-title">Product Name</div>
                                <div class="product-subtitle">
                                  Banekuk Manis
                                </div>
                              </div>
                              <div class="col-12 col-md-6">
                                <div class="product-title">
                                  Date of Transaction
                                </div>
                                <div class="product-subtitle">
                                  12 Februari 2021
                                </div>
                              </div>
                              <div class="col-12 col-md-6">
                                <div class="product-title">Status</div>
                                <div class="product-subtitle text-danger">
                                  Pending
                                </div>
                              </div>
                              <div class="col-12 col-md-6">
                                <div class="product-title">Total Amount</div>
                                <div class="product-subtitle">Rp. 821.000</div>
                              </div>
                              <div class="col-12 col-md-6">
                                <div class="product-title">Mobile Number</div>
                                <div class="product-subtitle">
                                  +628887933099
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- ROW 2 -->
                        <div class="row">
                          <div class="col-12 mt-4">
                            <h5>Shipping Information</h5>
                          </div>
                          <div class="col-12">
                            <div class="row">
                              <div class="col-12 col-md-6">
                                <div class="product-title">Address I</div>
                                <div class="product-subtitle">
                                  Jl. Marthadinata 20
                                </div>
                              </div>
                              <div class="col-12 col-md-6">
                                <div class="product-title">Address II</div>
                                <div class="product-subtitle">
                                  Pasuruan Timur
                                </div>
                              </div>
                              <div class="col-12 col-md-6">
                                <div class="product-title">Province</div>
                                <div class="product-subtitle">
                                  Sulawesi Barat
                                </div>
                              </div>
                              <div class="col-12 col-md-6">
                                <div class="product-title">City</div>
                                <div class="product-subtitle">Moutong</div>
                              </div>
                              <div class="col-12 col-md-6">
                                <div class="product-title">Postal Code</div>
                                <div class="product-subtitle">97971</div>
                              </div>
                              <div class="col-12 col-md-6">
                                <div class="product-title">Country</div>
                                <div class="product-subtitle">Indonesia</div>
                              </div>
                              <!-- Status Select -->
                              <div class="col-12 col-md-3">
                                <div class="product-title">Status</div>
                                <select
                                  name="status"
                                  id=""
                                  class="form-select"
                                  v-model="status"
                                >
                                  <option value="UNPAID">Unpaid</option>
                                  <option value="PENDING">Pending</option>
                                  <option value="SHIPPING">Shipping</option>
                                  <option value="SUCCESS">Success</option>
                                </select>
                              </div>
                              <template v-if="status == 'SHIPPING'">
                                <div class="col-md-3">
                                  <div class="product-title">Input Resi</div>
                                  <input
                                    type="text"
                                    class="form-control"
                                    name="resi"
                                    v-model="resi"
                                  />
                                </div>
                                <div class="col-md-2 d-grid">
                                  <button
                                    type="submit"
                                    class="btn btn-outline-success mt-4"
                                  >
                                    Update Resi
                                  </button>
                                </div>
                              </template>
                            </div>
                          </div>
                        </div>
                        <!-- Button Save -->
                        <div class="row">
                          <div class="col-12 text-end">
                            <button
                              type="submit"
                              class="btn btn-lg btn-success mt-3"
                            >
                              Save
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End: Content -->
        </div>
        <!-- END: Page Content -->
      </div>
    </div>

    <!-- Bootstrap Core Javascript -->
    <script src="vendor/jquery/jquery-3.5.1.slim.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script>
      $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
    <script src="vendor/vue/vue.js"></script>
    <script>
      var transactionDetails = new Vue({
        el: "#transactionDetails",
        data: {
          status: "SHIPPING",
          resi: "BJA12993901",
        },
      });
    </script>
  </body>
</html>
