.page-home {
  h5 {
    font-weight: 300;
    margin-bottom: 15px;
  }

  // .store-carousel {
  //   .carousel-item {
  //     align-items: center;
  //     max-height: 125px;
  //     max-width: 250px;
  //   }
  // }

  .store-categories {
    margin-top: 30px;
  }

  .store-new-product {
    margin-top: 10px;
  }
}
