.card-list {
  margin-bottom: 10px;
  text-decoration: none;

  .card-body {
    font-weight: normal;
    font-size: 18px;
    line-height: 40px;
    color: #0c0d36;

    img {
      max-width: 44px;
      border-radius: 6px;
    }
  }
}
